{% extends 'base.html' %} 
{% block Page_name %} 
  {{room.name}} 
{% endblock Page_name %} 

{% block content %}
  <div class="container w-11/12 mx-auto">

    <div class="mb-10">
      <h4 class="text-3xl font-medium mb-px">{{room.name}}</h4>
      <span class="text-gray-700 font-medium">{{room.city}}</span>
    </div>
  
    <div class="-mt-5 container h-65vh flex mb-20">
      <div class="h-full w-1/2 bg-cover bg-center rounded-l-2xl mr-2" style="background-image:url({{room.first_photo}})" ></div>
      <div class="h-full w-1/2 flex flex-wrap">
        {% for photo in room.get_next_two_photos  %}
          <div class="rounded-sm {% if forloop.counter <= 2 %}mb-2{% endif %}  {% if forloop.counter == 2 %}rounded-tr-2xl ml-2{% elif forloop.counter == 4 %}rounded-br-2xl ml-2{% endif %} h-auto bg-cover bg-center border border-gray-400" style="width: 48%; background-image:url({{photo.file.url}})"></div>
        {% endfor %}
      </div>
    </div>
  
    <div class="container w-full pb-12 flex justify-between">
      <div class="w-1/2">
        <div class="flex justify-between border-section">

          <div class="w-full flex items-center  mb-5">
            <div class="w-full flex-col">
              <h4 class="text-2xl text-gray-900 font-medium mr-10 mb-2">{{room.room_type}} hosted by {{room.host}}</h4>
              <div class="flex">
                <h5 class="text-teal-700 font-medium text-base">{{room.guests}} guest{{room.guests|pluralize}}</h5>
                <h5 class="text-teal-700 font-medium text-base">&nbsp; {{room.beds}} bed{{room.beds|pluralize}}</h5> 
                <h5 class="text-teal-700 font-medium text-base">&nbsp; {{room.bedroom}} bedroom{{room.bedroom|pluralize}}</h5> 
                <h5 class="text-teal-700 font-medium text-base">&nbsp; {{room.baths}} bath{{room.baths|pluralize}}</h5> 
              </div>
            </div>

            <a href="{{room.host.get_absolute_url}}">
              {% include "mixins/user_avatar.html" with user=room.host %}
            </a>
          </div>
        </div>

        <p class="py-8 border-section">{{room.description}}</p>

        <div class="border-section py-8">
          <h4 class="font-medium text-2xl mb-5">What this place offers</h4>
          <div class="w-full flex flex-wrap">
            {% for a in room.amenity.all %}
              <span class="mr-24 w-1/3 mb-6 text-teal-700 font-medium text-base">{{a}}</span>
            {% endfor %}
          </div>
        </div>

        <div class="border-section py-8">
          <h4 class="font-medium text-2xl mb-5">Other Facilities</h4>
          <div class="w-full flex flex-wrap">
            
            {% if room.facility.count > 0 %}
              {% for f in room.facility.all %}
                <span class="mr-24 w-1/3 mb-6 text-teal-700 font-medium text-base">{{f}}</span>
              {% endfor %}
            {% else %}
              <span class="mb-6 text-black font-medium text-base">No other facility</span>
            {% endif %}
          </div>
        </div>

        <div class="py-8">
          {% if room.house_rule.count > 0 %}
            <h4 class="font-medium text-2xl mb-5">House Rules</h4>
            <div class="w-full flex flex-wrap">
              {% for rule in room.house_rule.all %}
                <span class="mr-24 w-1/3 mb-6 text-teal-700 font-medium text-base">{{rule}}</span>
              {% endfor %}
            </div>
          {% else %}  
            <h4 class="font-medium text-2xl mb-5">No House Rules</h4>
          {% endif %}
        </div>
      </div>
      
      {% comment %} 2nd column {% endcomment %}
      <div class="w-1/3">
        {% if room.host == user %}
          <a href="{% url 'rooms:edit' room.pk %}" class="w-1/2 btn bg-red-500 text-white block">Edit Room</a>
        {% endif %}
      </div>
      
    </div>
    
    <div class="py-10 border-t border-gray-200">
      <h4 class="font-semibold text-3xl mb-5">Reviews</h4>
      <div class="flex items-center">
        <div class="mr-5 flex items-center">
          <i class="fas fa-star text-red-500 mr-1"></i>
          <span class="font-bold text-xl">{{room.total_rating}}</span>
        </div>
        
        <div class="h-5 w-px bg-gray-400 mx-5"></div>
        
        <div class="">
          <span class="font-bold text-xl">{{room.reviews.count}}</span>
          <span>review{{room.reviews.count|pluralize}}</span>
        </div>
      </div>

      <div class="mt-10 flex justify-between flex-wrap mr-10">
        {% for review in room.reviews.all %}
          <div class="w-2/5">
            <div class="py-8 ">
              <div class="mb-3 flex items-center">
                <div class="">
                  {% include "mixins/user_avatar.html" with user=review.user h_and_w='w-10 h-10' text='text-xl' %}
                </div>
                <div class="flex flex-col ml-5">
                  <span class="font-medium">{{review.user.first_name}}</span>
                  <span class="text-sm text-gray-500">{{review.created|date:'F Y'}}</span>
                </div>
              </div>
              <p class="line-clamp-3">{{review.review}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    
  </div>  

{% endblock content %}