{% extends 'base.html' %}

{% block page_title %}
    {{user.first_name}}'s Profile
{% endblock page_title %}



{% block content %}

<div class="{% if user_obj.rooms.count == 0 %}h-70vh{% endif %}">
    <div class="w-full flex justify-center">
        <div class="mb-12 text-2xl">Your Favourites</div>
    </div>

    
    <div class="container w-11/12 flex-col mx-auto pb-10">
        <div class="flex flex-wrap mb-10">
            {% for room in user.lists.room.all %}
                {% include 'partials/room_card.html' with room=room %}
            {% endfor %}
        </div>
    </div>

</div>
        
{% endblock content %}