@tailwind base;
@tailwind components;

.nav_link {
    @apply h-full flex items-center hover:scale-110 hover:font-medium hover:text-base hover:text-red-500;
}

.nav_link a{
    @apply py-5 px-3;
}

.btn{
    @apply w-5/6 text-center rounded-sm py-2 font-medium text-lg border border-gray-800 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300;
}

input, textarea, select{
    @apply text-left border w-full px-5 rounded-sm border-gray-600 py-2 focus:outline-none focus:border-2 focus:border-teal-500 text-base;
}

.has_error{
    @apply border-2 border-red-700;
}


.error{
    @apply bg-red-600;
}

.info{
    @apply bg-blue-600;
}

.success{
    @apply bg-green-400;
}

.warning{
    @apply bg-yellow-600;
}

textarea{
    resize: none;
    height: 100px;
}

select{
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
}

input[type=checkbox]{
    width:20px;
    height:15px
}

.border-section{
    @apply border-b border-gray-200;
}

.cal-grid{
    @apply grid gap-3 justify-items-center grid-cols-7;
}

@tailwind utilities;