{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block page_title %}{% endblock page_title%} Abnb</title>
  </head>
  <body class="text-gray-800 mt-28">
    {% include "partials/messages.html" %}
    <header class="container max-w-full flex items-center justify-around border-b border-gray-200 h-[70px] fixed bg-white inset-0" >
      <div class="flex items-center justify-between" style="width:55%;">  
          <a href="{% url 'core:home' %}"  class="">
            <img class="w-9" src="{% static 'img/logo.png' %}">
          </a>
        {% comment %} <div class="flex items-center justify-center w-4/5"> {% endcomment %}
          {% block search-bar %}
          <form method="get" action="{% url 'rooms:search' %}" class="w-3/4 flex justify-center">
            <div class="flex items-center border px-3 py-2 placeholder-gray-600 font-medium rounded-full w-full shadow-md hover:shadow-lg transition-shadow">
              <i class="px-2 fas fa-search icon"></i>
              <input class="border-0 focus:border-0 px-2 py-0 focus:outline-none w-full" name="city" placeholder="Search by City"/>
            </div>
          </form>
          {% endblock %}
        {% comment %} </div> {% endcomment %}
      </div>
      
      <div class="" style="width:30%;">
        {% include "partials/nav.html" %}
      </div>
    </header>
    
    {% block content %}{% endblock %} 
    {% include "partials/footer.html" %}
  </body>
</html>
